
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NaoEncontrado</title>
</head>
<body>
    <div> 
        <i>Arquivo não encontrado</i>
    </div>
</body>
</html>
